.shop-cart__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-cart__title {
  color: $blue;
  font-size: 24px;
  font-weight: 700;
}

.shop-cart__cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $grey-bar;
  padding: 5px 0;
}

.cart-product__image {
  max-width: 20%;
}

.cart-product__name {
  width: 40%;
}

.shop-cart__close-cart {
  font-size: 30px;
  font-weight: 700;
  color: $blue;
  padding: 1%;
  &:hover {
    cursor: pointer;
  }
}

.cart-product__total-item-price {
  margin-right: 13px;
}

.cart-product__delete_item {
  font-size: 20px;
  font-weight: 700;
  color: $blue;
  padding: 1%;
  &:hover {
    cursor: pointer;
  }
}

.shop-cart__total-item-price {
  margin-top: 15px;
}

.cart-product__total-item-price > span,
.shop-cart__total-item-price > span {
  padding: 5px;
}

.cart-product__qty,
.cart-product__total-item-price,
.shop-cart__total-price {
  color: $green;
  font-weight: 700;
}

.shop-cart__order-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cart-product__name {
  display: none;
}

.cart-product__equal {
  font-size: 25px;
}

.shop-cart__empty-message {
  font-size: 18px;
}

@media (min-width: 576px) {
  .cart-product__name {
    display: block;
  }
}

@media (min-width: 768px) {
  .shop-cart__cart-product,
  .shop-cart__total-price,
  .shop-cart__empty-message {
    font-size: 20px;
  }

  .shop-cart__title {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .shop-cart__cart-product,
  .shop-cart__total-price,
  .shop-cart__empty-message {
    font-size: 26px;
  }

  .shop-cart__title {
    font-size: 36px;
  }

  .cart-product__delete_item {
    font-size: 25px
  }

  .shop-cart__close-cart {
    font-size: 35px;
  }

  .cart-product__image {
    max-width: 10%;
  }
}


