.features {
  background-image: url('../images/features/features_bg.jpg');
  padding: 50px 0;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 12.09px 6.91px rgba(82, 33, 162, 0.05);
}

.main__features {
  margin-top: 35px;
}

.features__single-feature {
  background: #fff;
  padding: 45px 25px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin-bottom: 20px;
}

.single-feature__img {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .features__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .features__single-feature {
    max-width: 40%;
    margin: 0 auto 2% auto;
  }
}

@media (min-width: 1200px) {
    .features__cards {
      flex-wrap: nowrap;
    }

    .features__single-feature {
      flex: 1;
      margin-right: 20px;
    }
}

