.main__gallery {
  margin-top: 40px;
}

.gallery__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-menu {
  padding: 25px 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 27px 0 rgba(149, 149, 149, 0.22);
  text-align: center;
}

.product-menu__button {
  background-color: transparent;
  color: $grey;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
}

.product-menu__button:focus {
  box-shadow: 0 0 24px 0 rgba(42, 203, 53, 0.48);
  background-color: $green;
  color: #fff;
}

.gallery__card {
  position: relative;
  max-width: 50%;
  &:hover .card__overlay {
    opacity: 1;
  }
}

.gallery__card:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: $green;
  opacity: 0;
}

.gallery__card:hover:before {
  opacity: .8;
  transition: all .5s;
}

.gallery__card:hover .card__overlay {
  transform: translateX(15px);
  transition: all 1s;
}


.gallery__card:hover .card__subtitle:before {
  width: 45px;
  transition: width 1s ease-in-out;
}

.card__overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.card__img {
  margin: 0 auto;
  max-width: 70%;
}

.card__subtitle {
  position: relative;
  font-size: 18px;
  &:before {
    position: absolute;
    content: '';
    top: -17px;
    width: 0;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
  }
}

.card__title,
.card__subtitle {
  color: #fff;
}

.card__title {
  font-size: 24px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {


  //.gallery__card {
  //  max-width: 50%;
  //}
}

@media (min-width: 992px) {
  .gallery__card {
    max-width: 33.3333%;
    flex: none;
  }
}