


.nav__item {

}


.gallery__cards-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery__card {
  position: relative;
  margin-bottom: 30px;

  &:hover .card__overlay {
    opacity: 1;
  }
}

.gallery__card:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: $green;
  opacity: 0;
}

.gallery__card:hover:before {
  opacity: .8;
  transition: all .5s;
}

.gallery__card:hover .card__overlay {
  transform: translateX(40px);
  transition: all 1s;
}


.gallery__card:hover .card__subtitle:before {
  width: 45px;
  transition: width 1s ease-in-out;
}

.card__overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.card__subtitle {
  position: relative;
  font-size: 18px;
  &:before {
    position: absolute;
    content: '';
    top: -17px;
    width: 0;
    height: 4px;
    border-radius: 10px;
    background-color: #fff;
  }
}

.card__title,
.card__subtitle {
  color: #fff;
}

.card__title {
  font-size: 24px;
  margin-bottom: 30px;
}