.main__order {
  margin-top: 45px;
  margin-bottom: 30px;
}

.order__product-slider {
  margin-top: 30px;
}

.product-slider__chosen-product,
.product-slider__nav,
.product-slider__images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-slider__chosen-product {
  background-color: #ededed;
}


.chosen-product__img  {
  margin: 0 auto;
}

.chosen-product__img,
.product-slider__img {
  background-color: #ededed;
}

.product-slider__img {
  max-width: 30%;
  margin: 2% 2% 0 2%;
  &:hover {
    cursor: pointer;
  }
}

.product-slider__arrow--right,
.product-slider__arrow--left {
  width: 25px;
  height: 29px;
  &:hover {
    cursor: pointer;
  }
}

.order__product-info {
  margin-top: 30px;
}

.product-info__title {
  font-size: 30px;
  font-weight: 700;
  color: $blue;
  text-align: left;
}

.product-info__price {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  color: $green;
}

.product-info__price > span {
  margin-right: 5px;
}

.product-info__description {
  font-size: 16px;
  color: $grey;
  text-align: left;
  line-height: 1.4em;
  margin-top: 18px;
}

.order__buttons-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.count-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;;
}

.count-button__warning {
  min-width: 216px;
  left: -56px;
  bottom: 3.6em;
  &::before {
    left: 50%;
    bottom: -3px;
  }
}

.count-button__minus {
  border: 2px solid $green;
  color: $green;
  font-size: 25px;
  background-color: transparent;
  border-radius: 50% 0 0 50%;
  width: 42px;
  height: 51px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.count-button__plus {
  border: 2px solid $green;
  color: $green;
  font-size: 25px;
  background-color: transparent;
  border-radius: 0 50% 50% 0;
  width: 42px;
  height: 51px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.count-button__input {
  border-top: 2px solid $green;
  border-bottom: 2px solid $green;
  border-left: 0 solid $green;
  border-right: 0 solid $green;
  width: 40px;
  height: 41px;
  outline: none;
  text-align: center;
  color: $green;
  font-size: 20px;
  padding-top: 5px;
  font-weight: 700;
  background-color: transparent;
  --webkit-background-color: transparent;
  --ms-background-color: transparent;
}

.add-to-card-button {
  margin: 15px auto 0 auto;
  padding: 16px 25px;
}

@media (min-width: 576px) {
  .product-slider__img {
    max-width: 25.6%;
  }

  .order__buttons-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .add-to-card-button {
    margin: 0 auto 0 auto;
  }

  .order__product-info {
    padding: 0 15px;
  }

  .chosen-product__img {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .product-slider__img {
    max-width: 21%;
  }
}

@media (min-width: 992px) {
  .order__content-wrapper {
    display: flex;
  }

  .order__product-slider {
    min-width: 50%;
  }

  .product-info__description {
    min-height: 215px;
  }
}

@supports (-ms-ime-align:auto) {
  .count-button__input {
    background-color: transparent;
  }

  .product-slider__arrow--left,
  .product-slider__arrow--right {
    width: 40px;
    height: 40px;
  }
}








