.main__promo {
  margin-top: 100px;
}

.promo__img {
  margin: 0 auto;
  max-width: 85%;
}

.promo__title,
.promo__subtitle {
  margin-top: 10px;
  text-align: center;
  line-height: 1.5em;
}

.promo__title {
  color: $blue;
  font-size: 24px;
  font-weight: 700;
}

.promo__title > span {
  color: $green;
}

.promo__buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.promo__button-contact {
  display: none;
}

@media (min-width: 768px) {
  .promo__img {
    max-width: 80%;
  }

  .promo__button-contact {
    display: block;
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .promo__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .promo__img {
    max-width: 48%;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .promo__title,
  .promo__subtitle {
    text-align: left;
  }

  .promo__title {
    font-size: 34px;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
  }

  .promo__subtitle {
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.6s;
  }

  .promo__buttons {
    justify-content: left;
  }

  .promo__button-buy {
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }
}

@media (min-width: 1200px) {
  .promo__img {
    max-width: 45%;
  }

  .promo__title {
    font-size: 48px;
  }

  .promo__subtitle {
    font-size: 22px;
  }

  //IE 11
  _:-ms-fullscreen, :root .promo__info-wrapper {
    width: 50%;
  }

  _:-ms-fullscreen, :root .promo__img {
    width: 45%;
  }

  _:-ms-fullscreen, :root .promo__title, .promo__subtitle{
    margin-top: 30px;
  }

  _:-ms-fullscreen, :root .promo__button-buy {
    margin-right: 476px;
  }


}



