
.single-reason__image-edging {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px dashed $blue;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}