@import '_vars.scss';

:root {
  box-sizing: border-box;
  --smoothly-anims-duration: 200ms;
}

*::after, *::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: $grey;
  font-size: 16px;
  min-width: 320px;
  overflow-x: hidden;
  //Footer to bottom
  display: flex;
  flex-direction: column;

}

main {
  //Footer to bottom
  flex: 1 0 auto;
}

.footer {
  //Footer to bottom
  flex-shrink: 0;
}

html, body {
  height: 100%;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

input[type=email],
textarea {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  background-color: $green;
  color: #fff;
  border: 2px solid;
  padding: 16px 40px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: $green;
  }
}

.button--white {
  background-color: #fff;
  color: $green;
  &:hover {
    background-color: $green;
    color: #fff;
  }
}

.button--blue {
  background-color: $blue;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: $blue;
  text-align: center;
}

.section-subtitle {
  line-height: 1.1em;
  color: $grey;
  text-align: center;
}

.bar {
  height: 2px;
  width: 165px;
  background: $grey-bar;
  margin: 20px auto 30px;
  position: relative;
  border-radius: 50%;
  &::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: -3px;
    left: 0;
    background-color: $green;
    animation-name: movingCircle;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}


.collapse {
  display: none !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
