@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes movingCircle {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(163px);
    transform: translateX(163px);
  }
}
@-webkit-keyframes movingCircle {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(163px);
    transform: translateX(163px);
  }
}
:root {
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #747373;
  font-size: 16px;
  min-width: 320px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  background-color: #2ACB35;
  color: #fff;
  border: 2px solid #2ACB35;
  padding: 16px 40px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: #2ACB35;
}

.button--white {
  background-color: #fff;
  color: #2ACB35;
}
.button--white:hover {
  background-color: #2ACB35;
  color: #fff;
}

.button--blue {
  background-color: #062A4D;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #062A4D;
  text-align: center;
}

.section-subtitle {
  color: #747373;
  text-align: center;
}

.bar {
  height: 2px;
  width: 165px;
  background: #c4c4c4;
  margin: 20px auto 30px;
  position: relative;
  border-radius: 50%;
}
.bar::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: -3px;
  left: 0;
  background-color: #2ACB35;
  animation-name: movingCircle;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 30px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 40px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #2acb352b;
  z-index: 2;
  transition: border-bottom 0.1s;
  transition-delay: 0.5s;
  background-color: #fff;
}

.header--fixed {
  position: fixed;
  -webkit-animation: 0.7s ease-in-out 0s normal forwards 1 running fadeInDown;
  animation: 0.7s ease-in-out 0s normal forwards 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  border-bottom: none;
}

.header--border-none {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  padding: 15px 0;
}

.shop-cart {
  position: relative;
}
.shop-cart:hover {
  cursor: pointer;
}

.shop-cart__counter {
  position: absolute;
  top: -4px;
  right: -5px;
  min-width: 20px;
  min-height: 20px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-cart__value {
  color: #fff;
  font-weight: 700;
}

.header__toggler-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  border: 2px solid #2ACB35;
}
.header__toggler-wrapper:hover {
  cursor: pointer;
}

.header__menu-toggler {
  width: 25px;
  height: 3px;
  background-color: #2ACB35;
  transition: background-color 1s;
  position: relative;
}
.header__menu-toggler::before, .header__menu-toggler::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #2ACB35;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.header__menu-toggler::before {
  top: 7px;
}
.header__menu-toggler::after {
  top: -7px;
}

.toggler--active {
  background-color: transparent;
  transition: background-color 0.1s;
}
.toggler--active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.toggler--active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.header__menu {
  position: absolute;
  top: -400%;
  padding: 0 5%;
  transition: all 0.5s ease 0s;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.menu--opened {
  top: 100%;
  transition: all 0.5s ease 0s;
}
.menu--opened .menu__list {
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  transition: box-shadow 0.2s;
  transition-delay: 0.6s;
}

.menu__list {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.menu__item {
  background-color: #ffffff;
}
.menu__item:last-child {
  padding-bottom: 20px;
}

.menu__link {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  color: #062A4D;
  width: calc(100% - 0.8em);
  padding: 20px 0 0 20px;
}
.menu__link:hover {
  color: #2ACB35;
  transition: color 0.3s;
}

@media (min-width: 576px) {
  .header__menu {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .header__menu {
    max-width: 690px;
  }

  .header__shop-cart {
    padding-left: 50%;
  }
}
@media (min-width: 992px) {
  .header__wrapper {
    padding: 20px 0;
  }

  .header__menu {
    max-width: 690px;
    position: static;
    z-index: 1;
    padding: 0;
    margin: 0;
  }

  .header__toggler-wrapper {
    display: none;
  }

  .header__menu {
    position: static;
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__item:last-child {
    padding-bottom: 0;
  }

  .menu__link {
    width: 100%;
    padding: 0 0 0 20px;
    font-weight: 700;
    font-size: 21px;
  }

  .header__shop-cart {
    padding-left: 0;
  }
}
.main__promo {
  margin-top: 130px;
}

.promo__img {
  margin: 0 auto;
  max-width: 85%;
}

.promo__title,
.promo__subtitle {
  text-align: center;
  line-height: 1.5em;
}

.promo__title {
  color: #062A4D;
  font-size: 24px;
  font-weight: 700;
}

.promo__buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.promo__button-contact {
  display: none;
}

@media (min-width: 768px) {
  .promo__img {
    max-width: 80%;
  }

  .promo__button-contact {
    display: block;
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .promo__wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .promo__img {
    max-width: 48%;
  }

  .promo__title,
.promo__subtitle {
    text-align: left;
  }

  .promo__title {
    font-size: 34px;
  }

  .promo__buttons {
    justify-content: left;
  }
}
@media (min-width: 1200px) {
  .promo__img {
    max-width: 45%;
  }

  .promo__title {
    font-size: 48px;
  }

  .promo__subtitle {
    font-size: 22px;
  }
}
.features {
  background-image: url("../images/features/features_bg.jpg");
  padding: 60px 0;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 12.09px 6.91px rgba(82, 33, 162, 0.05);
}

.main__features {
  margin-top: 50px;
}

.features__single-feature {
  background: #fff;
  padding: 45px 25px;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin-bottom: 20px;
}

.single-feature__img {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .features__cards {
    display: flex;
    flex-wrap: wrap;
  }

  .features__single-feature {
    max-width: 40%;
    margin: 0 auto 2% auto;
  }
}
@media (min-width: 1200px) {
  .features__cards {
    flex-wrap: nowrap;
  }

  .features__single-feature {
    flex: 1;
    margin-right: 20px;
  }
}
.reasons__description {
  margin-bottom: 50px;
}

.single-reason__image-edging {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px dashed #062A4D;
  background-color: transparent;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reasons__single-reason {
  margin-bottom: 40px;
}

.single-reason__title,
.single-reason__subtitle {
  text-align: center;
}

.single-reason__title {
  font-weight: 700;
  color: #062A4D;
}

.reasons__main-img {
  position: relative;
  margin: 0 auto;
}

.reasons__main-img-wrapper {
  display: none;
}

@media (min-width: 576px) {
  .reasons__cards {
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .reasons__single-reason {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .single-reason__image-edging {
    margin: 0 30px 0 0;
  }

  .single-reason__title,
.single-reason__subtitle {
    text-align: left;
  }

  .single-reason__description {
    max-width: 395px;
  }
}
@media (min-width: 768px) {
  .reasons__main-content {
    display: flex;
  }

  .reasons__cards {
    padding: 0;
  }

  .reasons__single-reason {
    align-items: start;
    margin: 0;
    min-height: 120px;
  }

  .single-reason__image-edging {
    margin: 0;
  }

  .single-reason__description {
    max-width: 250px;
  }

  .reasons__card--first-col {
    padding-right: 30px;
  }
  .reasons__card--first-col .reasons__single-reason {
    flex-direction: row-reverse;
  }
  .reasons__card--first-col .single-reason__description {
    padding-right: 15px;
  }
  .reasons__card--first-col .single-reason__title,
.reasons__card--first-col .single-reason__subtitle {
    text-align: right;
  }

  .reasons__card--second-col .single-reason__description {
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .reasons__main-img-wrapper {
    display: block;
    position: relative;
  }
  .reasons__main-img-wrapper::before {
    content: "";
    position: absolute;
    width: 578px;
    height: 578px;
    right: -159px;
    top: -105px;
    z-index: -1;
    background-image: url(../images/reasons/ellips-shape.png);
    background-repeat: no-repeat;
  }
  .reasons__main-img-wrapper::after {
    content: "";
    position: absolute;
    width: 709px;
    height: 585px;
    left: -226px;
    top: -105px;
    z-index: -1;
    background-image: url(../images/reasons/services-shape.png);
    background-repeat: no-repeat;
  }

  .reasons__cards {
    max-width: 410px;
  }

  .reasons__card--second-col {
    padding-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
